header {
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding: 20px;
    margin-bottom: 30px;

    a {
        display: flex;
        align-items: center;
        color: white;
        
        &:hover {
            text-decoration: none;
        }
    }

    h1 {
        font-size: 2rem;
        margin-left: 30px;
    }
}