.floating {
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}