.product {
    &__tile {
        &:not(.list) {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
            height: 450px;
        }
        &.list {
            display: flex;
            border-bottom: 1px solid grey;
            padding: 10px;
            margin-bottom: 10px;
            height: 250px;
        }
        img {
            margin: 0 auto;
            width: 150px;
        }
    }
}
.actions {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}