<app-heading> Table Component </app-heading>
<table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of this.studentListKeys" [ngClass]="{'active': sortedColumn == column}" (click)="sortBy(column)">
            {{ column | titlecase }}
            <button class="sort-by">
                <span class="icon asc" [ngClass]="{'active': direction == 'asc'}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                        <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"/>
                    </svg>
                </span>
                <span class="icon desc" [ngClass]="{'active': direction == 'desc'}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up-alt" viewBox="0 0 16 16">
                        <path d="M3.5 13.5a.5.5 0 0 1-1 0V4.707L1.354 5.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 4.707V13.5zm4-9.5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"/>
                    </svg>
                </span>
            </button>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentsList">
            <td scope="col"> {{ student.userId }}</td>
            <td scope="col"> {{ student.name }} </td>
            <td scope="col"> {{ student.class }} </td>
            <td scope="col"> {{ student.section }} </td>
            <td scope="col"> {{ student.Sub1 }} </td>
            <td scope="col"> {{ student.Sub2 }} </td>
            <td scope="col"> {{ student.Sub3 }} </td>
        </tr>
    </tbody>
  </table>
