<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/floating">Floating Text</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/productList">Product List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/counter1">Counter 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/counter2">Counter 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/table">Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/dynamicDiv">Dynamic Div</a>
        </li>
    </ul>
</div>